!!!
%html{lang: "en"}
  %head
    %meta{ content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title The Black Hoof
    %link{ href: "public/assets/css/global.css", rel: "stylesheet", type: "text/css"}/
  %body
    %header
      %nav
        %ul
          %li
            %a{href: "#"} The Black Hoof
          %li
            %a{href: "#"} Cocktail Bar
          %li
            %a{href: "#"} Rhum Corner
      .content
        %h1 The Black Hoof
        %h4.js-copy-ticker
    %section.hoof-info
      .content
        .hoof-info-left
          %h1.js-copy-intro-header
          %p.js-copy-intro-content
          %h2 Come eat.
          %address
            928 Dundas Street West
            %br
            Toronto ON M6J 1W3
            %br
            %br
            416 551 8854
          %p (before you give us a ring, you should know that we don't take reservations)
        .hoof-info-right
          %h2 Dinner Hours
          %table.hoof-info-hours
          %p * cash and Canadian debit only. No reservations.
          %h2 Popular Questions
          .hoof-info-links
            %a{href: "#", class: "btn"} What am i eating
            %br
            %a{href: "#", class: "btn"} What am i drinking
            %br
            %a{href: "#", class: "btn"} Where is this place
    %section.hoof-menu-food
      .content
        .section-header
          %h2
            %span> The
            Food Menu
          %p.js-copy-food-intro
        .hoof-menu-food-left
          %ul.hoof-menu-food-list
        .hoof-menu-food-right
          %p
            Our hours
            %span> are
            %br
            a little odd.
          %p
            I would check 'em
            %span> twice
            just to be
            %br
            on
            %span> the
            safe side.
          %p
            Cash & CDN debit
            %br
            %span> no
            reservations
    %section.hoof-menu-drinks
      .content
        .hoof-menu-cocktails
          %h2 Libations
          %p.js-copy-libations-intro
          %h3 Cocktails
          %ul.hoof-menu-cocktails-list
        .hoof-menu-beer
          %h2 Beer
          %ul.hoof-menu-beer-list
        .hoof-menu-wine
          %h3.serif
            %span> White Wine
            By the Glass
          %ul.hoof-menu-white-wine-list
          %h3.serif
            %span> Red Wine
            By the Glass
          %ul.hoof-menu-red-wine-list

    %footer
      .content
        .footer-left
          %h2 Drop by.
          %p.js-copy-footer-content
          %a{href: "https://maps.google.ca/maps/ms?msid=213377805080905058298.0004d4e81008db5d21557&msa=0", class: "btn", target: "blank"} Google Map
        %address.hoof
          %h3 The Black Hoof
          928 Dundas St. West
          %br
          Toronto ON M6J 1W3
          %br
          416 551 8854
        %address.cocktail
          %h3 Hoof Cocktail Bar
          923 Dundas St. West
          %br
          Toronto ON M6J 1W2
          %br
          416 792 7511
        %address.rhum
          %h3 Rhum Corner
          926 Dundas St. West
          %br
          Toronto ON M6J 1W3
          %br
          647 346 9356
    %script{ src: "./public/assets/js/vendor/jquery-3.1.1.min.js" }
    %script{ src: "https://www.gstatic.com/firebasejs/3.4.1/firebase.js" }
    :javascript
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyCTuJTnEAQ2jzl4_BWEKeszt8AGa1bmc2Q",
        authDomain: "the-black-hoof.firebaseapp.com",
        databaseURL: "https://the-black-hoof.firebaseio.com",
        storageBucket: "the-black-hoof.appspot.com",
        messagingSenderId: "713556181914"
      };
      firebase.initializeApp(config);
    %script{ src: "./public/assets/js/index.js" }
