!!!
%html{lang: "en"}
  %head
    %meta{ content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title The Black Hoof
    %link{ href: "public/assets/css/global.css", rel: "stylesheet", type: "text/css"}/
  %body
    %header
      %nav
        %ul
          %li
            %a{href: "/"} The Black Hoof
          %li
            %a{href: "http://hoofcocktailbar.com/"} Cocktail Bar
          %li
            %a{href: "http://rhumcorner.com/"} Rhum Corner
      .content
        %h1 The Black Hoof
        %h4 THANKS FOR 10 GREAT YEARS! THE HOOF IS NOW CLOSED.

  %script{ src: "./public/assets/js/vendor/jquery-3.1.1.min.js" }
  %script{ src: "https://www.gstatic.com/firebasejs/3.4.1/firebase.js" }
  :javascript
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCTuJTnEAQ2jzl4_BWEKeszt8AGa1bmc2Q",
      authDomain: "the-black-hoof.firebaseapp.com",
      databaseURL: "https://the-black-hoof.firebaseio.com",
      storageBucket: "the-black-hoof.appspot.com",
      messagingSenderId: "713556181914"
    };
    firebase.initializeApp(config);
  %script{ src: "./public/assets/js/index.js" }
