@import 'https://fonts.googleapis.com/css?family=Assistant:200|Playfair+Display:400,400i,700,700i';

$pt: 'PT Serif', serif;
$playfair: 'Playfair Display', serif;
$assistant: 'Assistant', sans-serif;
$courier: "Courier", Arial, sans-serif;
