h1 {
  font-family: $pt;
  font-size: 40px;
}
h2 {
  font-family: $pt;
  font-size: 24px;
}
h3 {
  font-family: $assistant;
  font-size: 30px;
  text-transform: uppercase;
  &.serif {
    font-family: $pt;
    text-transform: none;
    span {
      font-style: italic;
    }
  }
}

body {
  font-family: $courier;
  font-size: 13px;
}
